html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 25px;
  font-family: BIOS;
  background-color: black;
  color: #72E26C
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6%;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: BIOS;
  src: url('Px437_DTK_BIOS-2y.ttf');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: BIOS;
}

li {
  padding: 2px;
}

input {
  width: 90%;
  height: 100%;
  font-size: 15px;
  font-family: BIOS;
  background-color: black;
  color: #72E26C;
  border: none;
}

#prompt {
  width: 10%;
  font-size: 15px;
  padding: 10px;
  color: #72E26C;
}

input:focus {
  outline: none;
}

.pulse {
  animation: pulse 3s linear infinite;
}

@keyframes pulse {
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
